@import "nullstyle.scss";
@font-face {
    font-family: "FuturaPT";
    src: url("../fonts/FTN45.OTF");
}
@font-face {
    font-family: "Intro";
    src: url("../fonts/4488-font.otf");
}
@font-face {
    font-family: "FuturaMediumC";
    src: url("../fonts/futuramediumc.otf");
}
@font-face {
    font-family: "IntroBlackCaps";
    src: url("../fonts/Fontfabric\ -\ IntroBlackCaps.otf");
}
@font-face {
    font-family: "FuturaPT Book";
    src: url("../fonts/Futura\ PT\ Book.ttf");
}
// Myriad Pro
// @font-face {
//     font-family: "Myriad Pro";
//     src: url("../fonts/MYRIADPRO-REGULAR.OTF");
// }
.block-two-connection {
    font-size: 18px;
    font-family: "FuturaPT";
    line-height: 1.389;
    margin-right: 50px;
    width: 195px;
    height: 50px;
    background: linear-gradient(-32deg, rgb(215, 105, 39) 0%, rgb(231, 157, 4) 100%);
    letter-spacing: 1px;
    margin-right: 20px;
}
ul {
    display: flex;
    .block-one-service {
        // text-decoration: underline;
        // text-decoration-thickness: 2px;
        border-bottom: 2px solid white;
    }
    .block-two-connection {
        font-size: 18px;
        font-family: "FuturaPT";
        line-height: 1.389;
        margin-right: 50px;
        max-width: 195px;
        height: 50px;
        background: linear-gradient(-32deg, rgb(215, 105, 39) 0%, rgb(231, 157, 4) 100%);
        letter-spacing: 1px;
        margin-right: 20px;
        @media (max-width: 1050px) {
            font-size: 16px;
        }
        @media (max-width: 992px) {
            font-size: 14px;
            max-width: 155px;
        }
        @media (max-width: 860px) {
            display: none;
        }
    }
    .telephone {
        font-size: 16px;
        margin-right: 40px;
        @media (max-width: 1050px) {
            font-size: 14px;
            margin-right: 20px;
        }
        @media (max-width: 992px) {
            margin-right: 20px;
        }
        @media (max-width: 860px) {
            display: none;
        }
        span {
            font-size: 30px;
            margin-bottom: 7px;
            @media (max-width: 1050px) {
                font-size: 26px;
            }
            @media (max-width: 992px) {
                font-size: 23px;
            }
        }
    }
    li {
        margin: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.container {
    max-width: 1250px;
    padding: 0 30px;
    margin: 0 auto;
}
.title {
    font-size: 38px;
    font-family: "IntroBlackCaps";
    color: rgb(236, 155, 0);
    line-height: 0.658;
    text-align: center;
    padding-top: 90px;
    @media (max-width: 992px) {
        font-size: 30px;
        line-height: 1.273;
    }
}
.subtitle {
    font-size: 22px;
    padding-top: 40px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    line-height: 1.273;
    text-align: center;
    max-width: 925px;
    height: 49px;
    margin: 0 auto;

    @media (max-width: 992px) {
        font-size: 16px;
    }
}
.serve-block-order__title {
    font-size: calc(24px + (30 - 24) * (100vw - 320px) / (1920 - 320));
    font-family: "IntroBlackCaps";
    color: rgb(46, 60, 112);
    line-height: 0.933;
    text-align: left;
}
.serve-block-order__subtitle {
    font-size: calc(14px + (20 - 14) * (100vw - 320px) / (1920 - 320));
    font-family: "FuturaPT";
    color: rgb(53, 53, 53);
    line-height: 1.2;
    text-align: left;
    margin-top: 40px;
    max-width: 470px;
    height: 233px;
}

.application__from {
    span {
        position: relative;
        top: -8px;
        color: white;
        left: 5px;
        display: block;
        max-width: 70px;
        z-index: 100;
        text-align: center;
        background-color: #003255;
    }
    .application-from__title {
        font-size: 26px;
        font-family: "FuturaMediumC";
        color: rgb(255, 255, 255);
        line-height: 1.038;
        text-align: left;
        margin-bottom: 25px;
        @media (max-width: 768px) {
            font-size: 16px;
        }
        @media (max-width: 480px) {
            margin-top: 25px;
        }
    }
    .application-from__name {
        width: 445px;
        height: 40px;
        // margin-bottom: 10px;
        display: inline-block;
        margin-right: 15px;
        border: solid 1px white;
        @media (max-width: 1170px) {
            margin-bottom: 20px;
        }
        @media (max-width: 768px) {
            width: 250px;
            // margin-bottom: 20px;
        }
        @media (max-width: 650px) {
            width: 150px;
            // margin-bottom: 20px;
        }
    }
    .application-from__tel {
        width: 320px;
        height: 40px;
        display: inline-block;
        border: solid 1px white;
        @media (max-width: 768px) {
            width: 250px;
        }
        @media (max-width: 650px) {
            width: 150px;
            // margin-bottom: 20px;
        }
    }
    .application-from__message {
        max-width: 780px;
        height: 95px;
        margin-top: 25px;
        // margin-bottom: 10px;
        border: solid 1px white;
        @media (max-width: 650px) {
            width: 200px;
            // margin-bottom: 20px;
        }
        span {
            max-width: 85px;
        }
    }
    .application-from__submit {
        margin-top: 50px;
        margin-bottom: 65px;
        margin-left: 50px;
        display: block;
        color: white;
        @media (max-width: 650px) {
            width: 150px;
            font-size: 16px;
            // margin-bottom: 20px;
        }
    }
    .application-from__checkbox {
        margin-top: 20px;
        display: inline-block;
        margin-right: 10px;
        max-width: 20px;
        height: 20px;
        @media (max-width: 768px) {
            max-width: 10px;
            height: 10px;
        }
    }
    .application-from__regulations {
        margin-top: 20px;
        display: inline-block;
        font-size: 18px;
        font-family: "FuturaPT";
        color: rgb(255, 255, 255);
        line-height: 1.056;
        position: absolute;
        max-width: 288px;
        height: 17px;
    }
}

.active__serve {
    color: rgb(236, 155, 0);
    &::before {
        content: ">";
        padding-right: 5px;
    }
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .description {
        // flex: 1 1 auto;
        height: auto;
        width: 100%;
        background-color: #003255;
        position: relative;
        overflow: hidden;
        .container {
            max-width: 1250px;
            padding: 0 15px;
            margin: 0 auto;

            nav {
                height: 100px;
                display: flex;
                justify-content: space-between;
                color: rgb(255, 255, 255);
                font-size: 18px;
                font-family: "FuturaPT";
                line-height: 1.389;
                padding-top: 20px;
                align-items: center;
                position: relative;
                .nav_block-one,
                .nav_block-two {
                    align-self: center;
                }

                @media (max-width: 1050px) {
                    font-size: 16px;
                }
                @media (max-width: 992px) {
                    font-size: 14px;
                }

                @media (max-width: 860px) {
                    .nav__block-one {
                        display: none;
                    }
                }
                .nav__burger {
                    display: none;
                    position: absolute;
                    right: 0;
                    // transition: all 0.3s linear;
                    animation-name: circle;
                    animation-duration: 1s;

                    div {
                        width: 30px;
                        height: 2px;
                        background-color: white;
                        margin: 5px 25px 2px 0;
                    }
                    @media (max-width: 860px) {
                        display: block;
                    }
                    @keyframes circle {
                        0% {
                            right: -20%;
                        }

                        100% {
                            right: 0%;
                        }
                    }
                }
                .nav__menu {
                    display: none;
                    position: absolute;
                    .header__close-menu {
                        button {
                            width: 150px;
                            height: 50px;
                            font-size: 20px;
                            color: white;
                            background-color: rgb(236, 155, 0);
                        }
                    }
                }
                .active {
                    background-color: #003255;
                    position: fixed;
                    z-index: 3000;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    text-align: center;
                    font-size: 26px;
                    padding: 50px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    a {
                        color: white;
                    }
                }
            }
            .logistics {
                display: flex;
                margin-top: 20px;
                width: 100%;
                // position: relative;
                .logistics__block-one {
                    display: flex;
                    flex-direction: column;
                    max-width: 380px;
                    @media (max-width: 992px) {
                        margin: 0 auto;
                    }
                    .block-one__title {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        padding-top: 65px;
                        margin-bottom: 35px;
                        img {
                            max-width: 95px;
                            max-height: 110px;
                            @media (max-width: 992px) {
                                max-width: 75px;
                                max-height: 90px;
                            }
                        }
                        span {
                            font-size: 35.26px;
                            font-family: "Intro";
                            line-height: 1.191;
                            // width: 215.195px;
                            font-weight: 900;
                            letter-spacing: 3px;
                            margin-top: 20px;
                            background-color: rgb(231, 157, 4);
                            background-image: linear-gradient(45deg, rgb(231, 157, 4), rgb(215, 105, 39));
                            background-size: 100%;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            -moz-background-clip: text;
                            -moz-text-fill-color: transparent;
                            margin-left: 20px;
                        }
                    }
                    .block-one__subtitle {
                        img {
                            @media (max-width: 992px) {
                                max-width: 320px;
                                // max-height: 90px;
                            }
                        }
                    }
                    .block-one__text {
                        font-size: 22px;
                        font-family: "FuturaMediumC";
                        word-spacing: 3px;
                        margin-top: 50px;
                        color: rgb(255, 255, 255);
                        line-height: 1.136;
                        text-align: left;
                        max-width: 379px;
                        max-height: 172px;
                        @media (max-width: 1200px) {
                            font-size: 20px;
                        }
                        @media (max-width: 992px) {
                            font-size: 18px;
                            // max-height: 90px;
                        }
                        span {
                            line-height: 1.5;
                            .circle {
                                color: rgb(231, 157, 4);
                            }
                        }
                    }
                }
                .logistics__block-two {
                    max-width: 1100px;
                    max-height: 475px;
                    position: absolute;
                    top: 118px;
                    right: -20px;

                    img {
                        @media (max-width: 1750px) {
                            max-width: 900px;
                            max-height: 475px;
                            position: absolute;
                            top: 85px;
                            right: -20px;
                        }
                        @media (max-width: 1280px) {
                            max-width: 700px;
                            max-height: 445px;
                            position: absolute;
                            top: 85px;
                            right: 0px;
                        }
                        @media (max-width: 1080px) {
                            max-width: 600px;
                            max-height: 425px;
                            position: absolute;
                            top: 85px;
                            right: 0px;
                        }
                        @media (max-width: 992px) {
                            display: none;
                        }
                    }
                }
            }
        }
        .dop__nav {
            display: flex;
            width: 100%;
            background-color: white;
            height: 85px;
            z-index: 100;
            position: relative;
            top: 20px;
            .container__dop-nav {
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                align-items: center;
                width: 1250px;
                padding: 15px;
                .dop-nav__img {
                    margin-right: 20px;
                    @media (max-width: 1200px) {
                        margin: 0 auto;
                    }
                }
                //    .nav__block-one {
                //         width: 100px;
                // //     }
                .menu__item {
                    color: black;
                    font-size: 18px;
                    font-family: "FuturaPT";
                    color: rgb(0, 0, 0);
                    line-height: 1.389;

                    .block-one-service {
                        border-bottom: 2px solid black;
                    }
                    @media (max-width: 1200px) {
                        display: none;
                    }
                }
                .connection__item {
                    @media (max-width: 1200px) {
                        display: none;
                    }
                }
            }
        }
    }
    .service {
        flex: 1 1 auto;
        margin-top: 20px;
        background-color: #003255;
        .service_application {
            display: flex;
            justify-content: space-between;
            margin-top: 100px;
            @media (max-width: 480px) {
                flex-direction: column;
            }
            // flex-direction: column;
            .application-type__title {
                font-size: 26px;
                font-family: "FuturaMediumC";
                color: rgb(255, 255, 255);
                line-height: 1.038;
                text-align: left;
                margin-bottom: 20px;
                @media (max-width: 768px) {
                    font-size: 16px;
                }
                @media (max-width: 480px) {
                    font-size: 14px;
                    margin-top: 25px;
                }
            }
            .application-type__item {
                span {
                    font-size: 20px;
                    font-family: "FuturaMediumC";
                    color: rgb(255, 255, 255);
                    line-height: 2.05;
                    text-align: left;
                    -moz-transform: matrix(0.9999974236834, -0.0022699397725, 0.0022699397725, 0.9999974236834, 0, 0);
                    -webkit-transform: matrix(
                        0.9999974236834,
                        -0.0022699397725,
                        0.0022699397725,
                        0.9999974236834,
                        0,
                        0
                    );
                    -ms-transform: matrix(0.9999974236834, -0.0022699397725, 0.0022699397725, 0.9999974236834, 0, 0);
                    max-width: 228.125px;
                    height: 199.6px;
                    @media (max-width: 768px) {
                        font-size: 14px;
                    }
                }
                input {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
    .serve {
        position: relative;
        z-index: 1;
        .title {
            font-size: calc(28px + (38 - 28) * (100vw - 320px) / (1920 - 320));
            font-family: "Intro";
            color: rgb(0, 50, 85);
            margin-top: 40px;
        }
        .subtitle {
            // font-size: 22px;
            font-size: calc(18px + (22 - 18) * (100vw - 320px) / (1920 - 320));
            font-family: "Myriad Pro";
            color: rgb(53, 53, 53);
        }
        .serve__img {
            display: flex;
            justify-content: space-between;
            margin-top: 7%;
            @media (max-width: 992px) {
                flex-direction: column;
            }
            @media (max-width: 767px) {
                margin-top: 27%;
            }
            @media (max-width: 480px) {
                margin-top: 80%;
            }

            .serve__img-block1,
            .serve__img-block,
            .serve__img-block__serve {
                flex: 1 1 33.33%;
                margin: 10px;
                position: relative;
                img {
                    width: 100%;
                }
                .serve-block__text {
                    // font-size: 24px;
                    font-size: calc(14px + (24 - 16) * (100vw - 320px) / (1920 - 320));
                    font-family: "Myriad Pro";
                    font-weight: 900;
                    color: rgb(0, 50, 85);
                    line-height: 1.167;
                    position: absolute;
                    bottom: 8%;
                    left: 10%;
                }
            }
            .serve__img-block1,
            .serve__img-block {
                .serve-block__img-button {
                    position: absolute;
                    width: 65px;
                    height: 65px;
                    top: -1px;
                    right: 0;
                }
            }
        }
        .serve-block__serve__title {
            // font-size: 24px;
            font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1920 - 320));
            font-family: "IntroBlackCaps";
            color: rgb(0, 50, 85);
            line-height: 1.167;
            text-align: left;
        }
        .serve-block__serve__list {
            font-size: 20px;
            font-family: "FuturaPT";
            color: rgb(53, 53, 53);
            line-height: 2.1;
            text-align: left;
        }

        .serve__img-block__serve {
            display: none;
            padding-top: 40px;
            padding-left: 30px;
            border: solid 0.5px black;
            animation-name: circle;
            animation-duration: 1s;
            position: relative;
            .close {
                position: absolute;
                right: 10%;
            }
            @keyframes circle {
                0% {
                    left: -20%;
                }

                100% {
                    left: 0%;
                }
            }
            .serve-block__serve__list {
                padding-top: 20px;
                padding-left: 15px;
            }
        }
        @media (max-width: 992px) {
            .serve__img-block__serve,
            .serve__img-block1,
            .serve__img-block {
                flex: 1 1 auto;
            }
        }
        .serve__img-block__order {
            display: none;
            height: 842px;
            position: absolute;
            right: 0;
            top: -5%;
            padding: 50px 70px 70px;
            z-index: 100;
            box-shadow: 0px 1px 24px 0px rgba(0, 0, 0, 0.18);
            background-color: rgb(255, 255, 255);
            // filter: alpha(opacity=0);
            filter: alpha(opacity=100);
            -moz-opacity: 1;
            -khtml-opacity: 1;
            opacity: 1;
            animation-name: circle;
            animation-duration: 1s;
            .close {
                position: absolute;
                right: 10%;
            }
            @keyframes circle {
                0% {
                    right: -20%;
                }

                100% {
                    right: 0%;
                }
            }
            .serve-block-order__title-list {
                font-size: calc(14px + (20 - 14) * (100vw - 320px) / (1920 - 320));
                font-family: "FuturaPT";
                color: rgb(53, 53, 53);
                text-align: left;
                font-weight: 900;
                letter-spacing: 2px;
                margin-bottom: 5%;
                // margin-top: 1%;
                @media (max-width: 480px) {
                    margin-top: 30%;
                }
            }
            .serve-block-order__list {
                span {
                    font-size: 20px;
                    font-size: calc(14px + (20 - 14) * (100vw - 320px) / (1920 - 320));
                    font-family: "FuturaPT";
                    color: rgb(53, 53, 53);
                    line-height: 1.8;
                    text-align: left;
                    letter-spacing: 0px;
                    // width: 453px;
                    // height: 132px;
                    // z-index: 134;
                }
                img {
                    padding-top: 2.5%;
                    padding-right: 5px;
                }
            }
            .serve-block-order__button {
                max-width: 210px;
                margin-top: 10%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                // font-size: 20px;
                font-size: calc(14px + (20 - 14) * (100vw - 320px) / (1920 - 320));
                font-family: "FuturaMediumC";
                background-color: rgb(236, 155, 0);
                box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.18);
            }
        }
        .serve__img-block__order-service {
            display: none;
            height: 842px;
            position: absolute;
            right: 0;
            top: -5%;
            z-index: 120;
            padding: 50px 70px 70px;
            width: 600px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 1px 24px 0px rgba(0, 0, 0, 0.18);

            @media (max-width: 584px) {
                width: 100%;
            }

            .form {
                section {
                    display: flex;
                }
                .name,
                .tel,
                .message {
                    border: solid 1px black;
                    // font-size: calc(10px + (16 - 10) * (100vw - 320px) / (1920 - 320));
                    span {
                        background-color: white;
                        font-size: calc(12px + (16 - 12) * (100vw - 320px) / (1920 - 320));
                        font-family: "FuturaPT";
                        color: rgb(133, 133, 133);
                    }
                }

                .name,
                .tel {
                    // display: inline;
                    flex: 1 1 50%;
                }
                select {
                    display: block;
                    height: 40px;
                    margin-top: 25px;
                    // width: calc(200px + (465px - 200px) * (100vw - 320px) / (1920 - 320));
                    width: 100%;
                    border: solid 1px black;
                }
                .message {
                    width: 100%;
                }
                .regulations {
                    font-size: 18px;
                    font-size: calc(12px + (18 - 12) * (100vw - 320px) / (1920 - 320));
                    font-family: "FuturaPT";
                    color: rgb(53, 53, 53);
                    line-height: 1.056;
                }
                .application-from__title {
                    margin-top: -15%;
                    // font-size: 30px;
                    font-size: calc(24px + (30 - 24) * (100vw - 320px) / (1920 - 320));
                    font-family: "IntroBlackCaps";
                    color: rgb(46, 60, 112);
                    line-height: 0.933;
                    text-align: center;
                }
                .application-from__subtitle {
                    // font-size: 20px;
                    font-size: calc(14px + (20 - 14) * (100vw - 320px) / (1920 - 320));
                    font-family: "FuturaPT";
                    color: rgb(53, 53, 53);
                    line-height: 1.2;
                    text-align: center;
                    margin-bottom: 40%;
                    @media (max-width: 480px) {
                        margin-bottom: 100%;
                    }
                }
                .button {
                    text-align: center;
                    margin: 15% auto;
                }
            }
        }
    }
    .advantage {
        background-color: rgb(0, 50, 85);
        flex: 1 1 auto;
        position: relative;
        .advantage__title {
            margin-top: 8.5%;
            font-size: calc(26px + (38 - 26) * (100vw - 320px) / (1920 - 320));
        }
        .advantage__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media (max-width: 1200px) {
                justify-content: center;
            }
            section {
                // flex: 1 1 310px;
                border-top: solid 3px rgb(231, 157, 4);
                margin-top: 6%;
                width: 340px;
                height: 150px;
                // margin-right: 5%;
                padding: 10px;
                @media (max-width: 1200px) {
                    height: auto;
                }
                .advantage-content__title {
                    font-size: calc(20px + (26 - 20) * (100vw - 320px) / (1920 - 320));
                    font-family: "FuturaMediumC";
                    color: rgb(255, 255, 255);
                    margin-top: 2%;
                }
                .advantage-content__text {
                    font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1920 - 320));
                    font-family: "FuturaPT BookT";
                    line-height: 1.385;
                    letter-spacing: 0.5px;
                    color: white;
                    margin-top: 5%;
                    // margin-bottom: 2%;
                    span {
                        color: rgb(231, 157, 4);
                    }
                }
            }
        }
        .advantage__dop-title {
            margin-top: 14%;
        }
        .advantage__dop-subtitle {
            // font-size: 22px;
            font-size: calc(16px + (22 - 16) * (100vw - 320px) / (1920 - 320));
            font-family: "FuturaPT Book";
            color: rgb(255, 255, 255);
            line-height: 1.182;
            text-align: center;
            height: 100%;
            // min-width: 100%;
            margin-bottom: 45%;
            letter-spacing: 1px;
        }
        .advantage__img {
            @media (max-width: 1450px) {
                display: none;
            }
            .advantage__block1 {
                position: absolute;
                bottom: -8%;

                left: 20%;
                @media (max-width: 1730px) {
                    left: 12%;
                }
                @media (max-width: 1450px) {
                    left: 8%;
                }
                @media (max-width: 1450px) {
                    left: 6%;
                }

                @media (max-width: 1270px) {
                    display: none;
                }
                // transform: translate(50%, -50%);
            }
            .advantage__block2 {
                position: absolute;
                bottom: -12%;
                left: 24%;
                width: 330px;
                height: 360px;
                padding: 20px 0 20px 25px;
                background-image: url("../img/bacground.png");
                font-family: "FuturaPT Book";
                font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1920 - 320));
                line-height: 1.3;
                color: white;
                span {
                    display: block;

                    font-size: calc(16px + (26 - 16) * (100vw - 320px) / (1920 - 320));
                    font-family: "FuturaMediumC";
                    color: rgb(255, 255, 255);
                    line-height: 0.731;
                    text-align: left;
                    padding-bottom: 20px;
                    // padding: 20px 0 20px 25px;
                }
            }
            .advantage__block3 {
                position: absolute;
                bottom: -11%;
                left: 25.5%;
                img {
                    padding: 5px;
                }
            }
            .advantage__block4 {
                position: absolute;
                bottom: -11%;
                right: 25.5%;
                display: flex;
                div {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: solid 1px black;
                    margin-right: 10px;
                }
            }
        }
    }
    .benefits {
        padding-top: 15.5%;
        // position: relative;
        margin-bottom: 20%;
        .container {
            display: flex;
            @media (max-width: 1720px) {
                flex-direction: column;
            }
            .benifits__item-one {
                width: 315px;
                // margin-right: 50%;
                @media (max-width: 1721px) {
                    // margin: 0 auto;
                    width: 100%;
                    text-align: center;
                }
                @media (max-width: 992px) {
                    margin: 0 auto;
                    width: 100%;
                    text-align: center;
                }
                .benifits__item-title {
                    font-size: calc(24px + (36 - 24) * (100vw - 320px) / (1920 - 320));
                    font-family: "IntroBlackCaps";
                    color: rgb(0, 50, 85);
                    line-height: 1.196;
                }
                .benifits__item-text {
                    font-size: calc(12px + (20 - 12) * (100vw - 320px) / (1920 - 320));
                    // margin-top: 5%;
                    font-family: "FuturaMediumC";
                    color: rgb(53, 53, 53);
                    line-height: 1.3;

                    span {
                        font-weight: bold;
                    }
                }
                .benifits__item-button {
                    display: flex;
                    margin-top: 15%;
                    // position: relative;
                    // bottom: -15%;
                    @media (max-width: 1720px) {
                        justify-content: center;
                    }
                    div {
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: solid 1px black;
                        margin-right: 10px;
                    }
                }
            }
            .benifits__item-two {
                display: flex;
                // position: absolute;
                // right: 0;
                font-family: "FuturaMediumC";
                color: rgb(53, 53, 53);
                line-height: 1.278;
                // align-self: center;
                @media (min-width: 1721px) {
                    position: absolute;
                    right: 0;
                }
                @media (max-width: 992px) {
                    flex-direction: column;
                    justify-content: center;
                }
                .benifits__item-block {
                    // margin-left: 20px;
                    text-align: center;
                    width: 225px;
                    height: 300px;
                    border: 1px solid #cccccc;
                    align-self: center;
                    @media (max-width: 992px) {
                        width: 80%;
                    }
                    .benifits__item-block-title {
                        height: 120px;
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;
                    }
                    .benifits__item-block-text {
                        font-size: calc(12px + (16 - 12) * (100vw - 320px) / (1920 - 320));
                        padding: 0 10px;
                        @media (max-width: 992px) {
                            font-size: calc(12px + (20 - 12) * (100vw - 320px) / (1920 - 320));
                        }

                        span {
                            font-size: calc(12px + (18 - 12) * (100vw - 320px) / (1920 - 320));
                            display: block;
                            font-weight: bold;
                            margin-top: 15%;
                            @media (max-width: 992px) {
                                font-size: calc(12px + (36 - 12) * (100vw - 320px) / (1920 - 320));
                                margin-top: 5%;
                            }
                        }
                    }
                }
            }
        }
    }
    #map {
        height: 600px;
        margin-top: -10%;
        width: 100%;
    }
    .footer {
        height: 55px;
        background-color: #003255;
        .container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 480px) {
                flex-direction: column;
            }

            span {
                font-size: calc(10px + (14 - 10) * (100vw - 320px) / (1920 - 320));
                font-family: "FuturaPT";
                color: rgba(255, 255, 255, 0.4);
                line-height: 2.071;
                padding-right: 20px;
            }
        }
    }
}
